@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

/* header style */

header {
  background-color: #1c0733;
  color: white;
  padding: 20px 40px ;
  text-align: center;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-btn {
  background-color: lab(55.16% -47.53 28.57);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  background-color: #0056b3;
}
/* banner style */

.banner {
  background-image: url('./img/hero-bg.png');
    background-size: contain;
  background-repeat: no-repeat;
  
    text-align: center;

}

.banner-img {
  width: 100%;
  height: auto;
  max-height: 500px;

 

}
.microphone {
  width: 120px;
  height: auto;
  margin-top: 40px;
  background-image: url('./img/hero-circle.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px;
}
.banner-title {
  font-size: 48px;
  margin: 20px 0;
}
    


.banner-content {
  padding: 10px 20px;
  color: white;
}
.banner-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* about style */

.about-container {
  text-align: center;
 margin-top: 20px auto;
  background-color: #1c0733;
  color: white;
  padding: 20px; 


}
.about-content{
  max-width: 800px;
  margin: 0 auto;
}
.about-container h2 {
  font-size: 36px;
  margin-bottom: 10px;
}
.about-container p {
  font-size: 18px;
  line-height: 1.6;
}

.about-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.card {
  width: 200px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card h2 {
  margin-top: 0;
}
.card p {
  line-height: 1.6;
}

.card-number {
  font-size: 32px;
  font-weight: bold;
  
}
/* choose style */
.choose-container {
  text-align: center;
  background-color: #1c0733;
  color: white;
  padding: 20px;

}
.choose-card-container {
  width: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,3fr);
}



.card {
  background-color: #2c0d4d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card-title {
  font-size: 20px;
  margin: 10px 0;
}
.card-text {
  font-size: 16px;
  line-height: 1.4;
}
.card img {
  width: 30px;
  height: auto;
}

.feature-container {
  text-align: center;
  padding: 20px;
  background-color: #2c0d4d;
  color: white;
 
}
.feature-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.feature-card {
  width: 250px;
  padding: 10px;
  background-color: #1c0733;
  border: 1px solid #ccc;

}
.feature-card .iframe {
  position: border-box;
  width: 100%;
  height: 150px;
}
.feature-card h3 {
  margin-top: 10px;
}
.feature-card p {
  line-height: 1.4;
}

/* host style */
.host-container {
  background-color: #1c0733;
  color: white;
  text-align: center;
  padding: 20px;
}


.host-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;

}
.host img {
  
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.host h2 {
  margin: 10px 0;
}
.host p {
  font-size: 18px;
}

.links  {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  
  
  color: white;
  text-align: center;
  padding: 20px;
}
.links ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}
.links ul li a img {
  width: 30px;
  height: auto;
}

/* footer style */
  
.footer-section {
  

  
  background-image: url('./img/footer-bg.png');
  background-size: contain;
  padding: 40px 20px;
  color: white;
  text-align: center;
  
  
}
.footer-title {
  font-size: 24px;
  font-weight: bold;
}
.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

/* small screens */

@media (max-width: 576px) {

  .about-card-container, .feature-card-container {
    flex-direction: column;
    align-items: center;
  }
  .choose-card-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }


  .nav-links, .nav-btn {
    display: none;
  }
  .banner-title {
    font-size: 32px;

  }
  .banner-img {
    max-height: 300px;
   


  }
  .microphone {
    width: 50px;
    padding: 50px;
  }
  
}
/* large screens */
@media (min-width: 992px) {
  .banner-title {
    font-size: 64px;

  }
}






  



